//variables

$primary-color: #CA6D30;
$secondary-color: #95A692;
$tertiary-color: #F1F1C2;
$background-color: #402316;
$bg-transparent: rgba(64,35,22,0.7);
$primary-focus: rgba(202, 109, 48, 1);
$secondary-focus: rgba(149, 166, 146, 1);

//Mixins and imports
@import url('https://fonts.googleapis.com/css?family=Shrikhand|Questrial');

@mixin h1 {
  font-family: 'Shrikhand', cursive;
  color: $primary-color;
  font-size: 3rem;
  letter-spacing: 4px;
}

@mixin h2 {
  color: $tertiary-color;
  font-weight: bold;
  margin: 2rem 0rem 1rem 0rem;
  // font-size: 2.5rem;
}

@mixin h3 {
  color: $secondary-color;
  font-size: 1.25rem;
  margin: 1rem 0rem 1rem 0rem;
}

@mixin body-text {
  color: $secondary-color;
}

.page {
  height: 100%;
  font-family: 'Questrial', sans-serif;
  background: $background-color;
  color: $tertiary-color;
}

h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3{
  @include h3;
}
p {
  @include body-text;
}

.row {
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.col-4 {
  padding: 5%;
}

.col-right {
  background-image: url("../images/group-bike.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.map{
  display: none;
}

.btn {
  color: $tertiary-color;
  background-color: $primary-color;
  border: 1px solid $tertiary-color;
  margin: 1em 0em 1em 0em;
}

.btn:hover{
    background-color: $secondary-color !important;
    border-color: $primary-color !important;
    box-shadow: 0 0 3px $primary-focus !important;
    color: $primary-color;
}

// .input-group-addon{
//   margin: 1rem 1rem 0rem 1rem;
// }


.form {
  display: none;
}

.form-control {
  margin: 1rem 0rem 1rem 0rem;
  background-color: $secondary-color;
  color: $tertiary-color;
}

.form-control:focus {
    border-color: $primary-color !important;
    box-shadow: 0 0 3px $primary-focus !important;
    background-color: $secondary-color;
    color: $primary-color;
}

.form-control::placeholder {
    color: $tertiary-color;
    opacity: 0.5;
}

.form-check-input {

}

.form-check-input:focus {

}

.details-list {
  list-style: none;
}
