@import url('https://fonts.googleapis.com/css?family=Roboto|Song+Myung');
// @import "node_modules/bootstrap/scss/bootstrap";

$primary-color: #CA6D30;
$secondary-color: #95A692;
$tertiary-color: #F1F1C2;
$background-color: #332F2A;

body {
  font-family: 'Roboto', sans-serif;
  background: #332F2A;
  color: #F1F1C2;
  background-image: url("assets/images/forest-bike.jpg");
  background-position: center;
  background-size: cover;
}
.map{
  display: none;
}

.container {
  /* display: flex; */
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 2em;
  background-color: rgba(50, 46, 41, 0.7);

}

.form__continue {
  color: #F1F1C2;
  background-color: #CA6D30;
  border: 1px solid #F1F1C2;
}
.form__continue:hover{
    background-color: $secondary-color!important;
    outline: $primary-color !important;

}

.form__passengers{
  display: none;
}

.form__days {
  display: none;
}

h1 {
  font-family: 'Song Myung', serif;
  color: #CA6D30;
}
h2 {
  color: #95A692;
}
p {
  font-weight: lighter;
}


#date {
  display: none;
}




/* $background-color: #332F2A;
$heading-color: #CA6D30;
$subheading-color: #95A692;
$body-text-color: #F1F1C2; */
